<div data-hook="admin_return_authorization_form_fields">
  <table class="table table-condensed index return-items-table">
    <thead>
      <tr data-hook="rma_header">
        <th><%= Spree.t(:order) %></th>
        <th><%= Spree.t(:return_authorization) %></th>
        <th><%= Spree.t(:return_state) %></th>
        <th><%= Spree.t(:action) %></th>
      </tr>
    </thead>
    <tbody>
      <% @orders.each do |order| %>
        <% if order.return_authorizations.present? %>
          <% order.return_authorizations.each do |return_authorization| %>
            <tr>
              <td><%= link_to order.number , order_path(order) %></td>
              <td><%= return_authorization.number %></td>
              <td><%= return_authorization.state %></td>
              <td>
                <%= link_to(order_return_authorization_path(order,id: return_authorization.number), class: 'btn btn-xs btn-primary pull-right') do %>
                  <span class='glyphicon glyphicon-folder-open'></span>
                  <%= Spree.t(:show) %>
                <% end %>
              </td>
            </tr>
          <% end %>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
